services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"

  
    extra_hosts:
      - "host.docker.internal:host-gateway"

    volumes:
      - ./qdrant_data:/qdrant/storage

  app:
    build: .
    image: capstone-image
    ports:
      - "8888:8888"
    volumes:
      - .:/app
    env_file:
      - .env
    depends_on:
      - qdrant

